.album {
 display: flex;
 justify-content: center;
 flex-direction: column;
 font-size: 2rem;
 text-align: center;

}

.song {
  margin-top: 3rem;
}

.test {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding: 2rem;
}