.header {
  background-image: linear-gradient(to left top, var(--color-primary-light), var(--color-primary-dark));
  height: 8rem;
  position: relative;
  display: flex;
  border-bottom: solid 2px rgb(0, 0, 0);

  &__user {
    position: absolute;
    top:2rem;
    right: 2rem;
    color: white;
    font-size: 2rem;
  }

  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 1rem;

    &__link {
      color: white;
      font-size: 2rem;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: rgb(226, 223, 223);
      }
    }
  }
}