.profile-edit {
  display: flex;
  justify-content: center;
  font-size: 2rem;

  &__box {
    padding: 20rem;
    display: flex;
    flex-direction: column;

    label {
      display: block;
    }
  }
}

.edit-input {
  display: flex;
  margin-bottom: 1rem;
}