.search {
  display: flex;
  justify-content: center;
  padding: 5rem 0;


  &__input {
    width: 50rem;
    padding: 1rem;
  }

  &__button {
    margin-left: 1rem;
    background-color: var(--color-primary-dark);
    padding: 1rem;
    color: white;
    cursor: pointer;
  }

}

.card {
  text-align: center;
  height: 25rem;
  width: 20rem;
  border: solid 1px var(--color-grey-light-4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 2rem;
  box-shadow: var(--shadow-dark);
  font-size: 1.5rem;
  overflow: hidden;

  &__link {
    margin-top: 1rem;
    text-decoration: none;
    padding: 1rem;
    background-color: var(--color-primary-dark);
    color: white;
  }

  &__img {
    width: 10rem;
    margin-bottom: 2rem;
  }
}

.results {
  font-size: 2rem;
  padding: 2rem;
  letter-spacing: 3px;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}