.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
}

.login {
  text-align: center;
  background-color: var(--color-grey-dark-1);
  color: white;
  padding: 10rem;
  margin-top: -20rem;
  border-radius: 4px;
  box-shadow: var(--shadow-dark);
}
.login__title {
  font-size: 7rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  padding: 3rem;
}
.login__input, .login input:focus {
  padding: 1rem;
  border: 0px solid;
  outline: none;
  width: 50rem;
  color: var(--color-grey-dark-3);
}
.login__button {
  padding: 1rem;
  border: none;
  background-color: var(--color-primary-dark);
  color: white;
}
.login__button:disabled {
  background-color: white;
}

:root {
  --color-primary-light: #33f8ff;
  --color-primary-dark: #4826ba;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1:#333;
  --color-grey-dark-2:#777;
  --color-grey-dark-3:#999;
  --shadow-dark: 0 2rem 2rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* @include respond(phone-small) {
    font-size: 35.25%;
  }

  @include respond(phone) {
    font-size: 40%;

  }

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  } */
}

.header {
  background-image: linear-gradient(to left top, var(--color-primary-light), var(--color-primary-dark));
  height: 8rem;
  position: relative;
  display: flex;
  border-bottom: solid 2px rgb(0, 0, 0);
}
.header__user {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: white;
  font-size: 2rem;
}
.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 1rem;
}
.header__nav__link {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
}
.header__nav__link:hover {
  color: rgb(226, 223, 223);
}

.search {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}
.search__input {
  width: 50rem;
  padding: 1rem;
}
.search__button {
  margin-left: 1rem;
  background-color: var(--color-primary-dark);
  padding: 1rem;
  color: white;
}

.card {
  text-align: center;
  height: 25rem;
  width: 20rem;
  border: solid 1px var(--color-grey-light-4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 2rem;
  box-shadow: var(--shadow-dark);
  font-size: 1.5rem;
  overflow: hidden;
}
.card__link {
  margin-top: 1rem;
  text-decoration: none;
  padding: 1rem;
  background-color: var(--color-primary-dark);
  color: white;
}
.card__img {
  width: 10rem;
  margin-bottom: 2rem;
}

.results {
  font-size: 2rem;
  padding: 2rem;
  letter-spacing: 3px;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  text-align: center;
}

.song {
  margin-top: 3rem;
}

.test {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding: 2rem;
}

.profile {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.profile__box {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  line-height: 5rem;
  text-align: center;
}

.profile img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  align-self: center;
}

.edit {
  background-color: var(--color-primary-dark);
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=index.css.map */
